<div class="container color-dark">
  <div class="col">
    <p>Voeg een nieuw item to aan de lijst</p>
  </div>
  <div class="col">
    <p>Jouw lijst ({{itemCount}})</p>
  </div>
</div>
<div class="container color-light [@goals]">
  <div class="col">
    <p class="sm"> Gebruik het onderstaande formulier om een item aan de lijst toe te voegen</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Lijst-item.. " [(ngModel)]="goalText">

      <input type="submit" class="btn" value="Add Item" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals">
      {{goal}}
    </p>
  </div>
</div>
